<ion-header>
  <ion-toolbar class="clr">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      Categories
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/wishlist">
        <ion-icon name="heart-empty"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="gotoMycart()">
        <ion-icon name="cart" mode="md"></ion-icon>
        <ion-badge class="cart-item-count" color="primary" fill="clear">{{cartItemsCount}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="category-page">
  <ion-refresher slot="fixed" (ionRefresh)="RefreshCategories($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="isLoaded; else elseTemplate">
    <ion-grid class="grid">
      <ion-row>
        <ion-col size="6" *ngFor="let cat of catListing" class="col" (click)="productLising(cat)">
          <ion-card class="box-card">
            <img *ngIf="!cat.image" src="../../assets/img/no-image-icon-4.png" class="cat-pic" style="width: auto;height:auto;" />
            <img *ngIf="cat.image" src="{{CategoryBaseImageURL + cat.image}}"  class="cat-pic" />
            <!-- <div class="hr"></div> -->
            <div class="spc">
              <ion-text class="title">{{cat.name | titlecase}}
              </ion-text>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-template #elseTemplate>
    
    <ion-grid class="grid">
      <ion-row>
        <ion-col size="6" *ngFor="let item of arrayOne(12)" class="col">
          <ion-card class="box-card">
            <ion-skeleton-text animated  class="cat-pic"></ion-skeleton-text>
            <!-- <div class="hr"></div> -->
            <div class="spc">
              <ion-skeleton-text animated style="width: 100px;" class="title"></ion-skeleton-text>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <ion-item *ngFor="let item of arrayOne(18)">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2><ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text></h2>
        <p><ion-skeleton-text animated style="width: 180px;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item> -->
 
  </ng-template>


</ion-content>