.category-page{
    --background: #f1f1f1;

    .grid{
        padding:5px;

        .col{
            padding:0px;

                .cat-pic{
                    padding-bottom: 0px; 
                    height: 150px; 
                    width: 100%; 
                    margin: 0 auto;
                    object-fit: cover;
                }

                .title{
                    font-size:12px; 
                    color: #000;
                }
        }
    }
}

.box-card{
    //box-shadow: 0px 0px 4px 0px #5d5e5e;
    box-shadow: 0px 0px 0px 0px;
    border-radius: 0px;
    margin: 5px;
    background:#fff;
  }