ion-title{
    text-align: left;
    display: inherit;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
    padding-inline-end: 0;
}
.category-product-page{
    --background: #f1f1f1;

    .item-header{
        //margin-top: 10px; 
        //margin-bottom: 10px;
        
        .items{
            font-size: 14px; 
            font-weight: bold
        }

        .btn-sorting{
            color: #000;
            text-transform: none;
            //box-shadow: 0px 0px 4px 0px #7b7c7c;
            box-shadow: 0px 0px 0px 0px;
            background: #f1f1f1;
            margin-left: 10px;
            font-weight: bold;

            .icon{
                margin-right: 5px;
            }
          }
    }
    
}

.footer-skeleton-row{
    display: inline-block;
    width: 100%;
}

.img-div{
    width: 100%; 
    float: left;
    margin-bottom: 5px;
}

.box-card{
    //box-shadow: 0px 0px 4px 0px #5d5e5e;
    box-shadow: 0px 0px 0px 0px;
    border-radius: 0px;
    margin: 5px;
    background:#fff;
  }
//   .grid{
//     // .product-pic{
//     //   height: auto;
//     //   object-fit: contain;
//     // }
//   }

.reward{
    border-radius: 0px;
    position: absolute;
    bottom: 135px;
    right: 8px;
}
  