<ion-header>
  <ion-toolbar class="clr" text-center>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!isModal"></ion-menu-button>
      <ion-button *ngIf="isModal" fill="clear" (click)="closeModal()">
        <ion-icon name="arrow-back" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Shopping Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="cart-page">

  <ion-card class="empty-card" *ngIf="isEmpty">
    <img src="../../assets/img/bag.jpg" style="height: 150px; width: 150px; margin: auto;" />
    <ion-label style="display: block; font-weight: bold; text-align: center; margin-top: 15px;">EMPTY CART</ion-label>
    <ion-label style="display: block; text-align: center; margin-top: 8px; color: grey;">You have no items in your cart
    </ion-label>
    <ion-button expand="full"
      style="color: #fff; width: fit-content; margin: auto; margin-top: 15px; margin-bottom: 15px;"
      (click)="goToHomePage()">CONTINUE SHOPPING</ion-button>
  </ion-card>

  <div class="clr" *ngIf="!isEmpty">
    <ng-container *ngIf="isLoaded; else elseTemplate">
        <ion-item lines="none" class="points" *ngIf="CartDetils.total_segments[0].code == 'rewards-total' && CartDetils.total_segments[0].value">
            <ion-icon name="checkmark-circle" style="margin-right: 5px;"></ion-icon>
            Checkout now and earn <b>&nbsp; {{CartDetils.total_segments[0].value}} &nbsp;</b> for this order.
          </ion-item>
      <ion-item lines="full" class="header">
        {{CartDetils.items_qty}} ITEM(S)
      </ion-item>

      <ion-card class="card-2" *ngFor="let item of cartItems;">
        <ion-row>
          <ion-col size="4" (click)="gotoProductPage(item.name)">
            <img [src]="item.extension_attributes.image_url" class="pic" />
          </ion-col>
          <ion-col size="8">
            <ion-row class="spc">
              <ion-col size="10" (click)="gotoProductPage(item.extension_attributes.product_id,item.name)">
                <ion-text>
                  <b>
                    {{item.name}}
                  </b>
                </ion-text>
              </ion-col>
              <ion-col size="2" class="delete-item">
                <ion-button fill="clear" class="btn-cancel" (click)="removeItem(item)">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="amount">
              <ion-text color="primary" class="final-price">
                {{currencySymbol}} {{item.price | number}}
              </ion-text>
            </ion-row>
            <ion-row class="spc item-sub-total">
              <ion-col>SUB TOTAL :</ion-col>
              <ion-col class="final-price">{{currencySymbol}}
                  {{getProductSubTotal(item,item.qty) | number}}</ion-col>
              <!-- <ion-text class="item-sub-total">
                <span>SUB TOTAL:</span>
                <span class="final-price">{{currencySymbol}}
                  {{getProductSubTotal(item.product.basic,item.qty) | number}}</span>
              </ion-text> -->
            </ion-row>
            <ion-buttons class="btn-qty">
              <ion-button class="btn-less" (click)="decrementItem(item)">
                <ion-icon name="remove" size="small" class="icon"></ion-icon>
              </ion-button>
              <ion-text class="txt-qty">
                {{item.qty}}
              </ion-text>

              <ion-button class="btn-less" (click)="incrementItem(item)">
                <ion-icon name="add" size="small" class="icon"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="card-2">
        <ion-item lines="full" class="header">
          DISCOUNT CODE
        </ion-item>
        <div *ngIf="!CartDetils.coupon_code">
        <form [formGroup]="coupon_form">
          <ion-item lines="none" class="input-container">
            <ion-input formControlName="coupon" placeholder="Enter Discount Code"></ion-input>
            <ion-button expand="full" class="btn-apply" (click)="applyCouponCode()">APPLY</ion-button>
          </ion-item>
          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="coupon_form.controls.coupon.hasError('required') && coupon_form.controls.coupon.touched">
            <p>Please Enter Valid Coupon Code.</p>
          </ion-item>
          <ion-item no-padding lines="none" class="validator-error"
          *ngIf="Coupon_errorMessagebool">
            <p>{{Coupon_errorMessage}}</p>
          </ion-item>
        </form>
      </div>
      
        <div *ngIf="CartDetils.coupon_code">
          <ion-item lines="none" class="input-container">
              <ion-text style="width:100%;">{{CartDetils.coupon_code}}</ion-text>
              <ion-button expand="full" class="btn-apply" (click)="removeCouponCode()">REMOVE</ion-button>
            </ion-item>
            <ion-item no-padding lines="none" class="validator-success"
              *ngIf="CartDetils.coupon_code">
              <p>{{Coupon_successMessage}}</p>
            </ion-item>
          </div>
      </ion-card>
      
      <ion-item lines="none" class="header card-2" mode="md" (click)="updateCart()">
        <ion-icon name="refresh" mode="md" class="icon-spc"></ion-icon>
        <ion-label>UPDATE SHOPPING CART</ion-label>
      </ion-item>
      <ion-item lines="none" class="header card-2" mode="md" routerLink="/tabs/mycategory">
        <ion-icon name="arrow-forward" mode="md" class="icon-spc"></ion-icon>
        <ion-label>CONTINUE SHOPPING</ion-label>
      </ion-item>

      <ion-item lines="none" class="header card-2" (click)="emptyCart()">
        <ion-icon name="trash" mode="md" class="icon-spc"></ion-icon>
        <ion-label>EMPTY SHOPPING CART</ion-label>
      </ion-item>

      <ion-card class="card-1">
        <ion-item lines="none" class="header">
          PRICE DETAILS
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <ion-row class="dark">
              <ion-col>Sub Total :</ion-col>
              <ion-col class="text-align">{{CartDetils.quote_currency_code}} {{CartDetils.subtotal | number}}</ion-col>
            </ion-row>
            
            <ion-row class="dark" *ngIf="CartDetils.total_segments[0].code == 'rewards-total' && CartDetils.total_segments[0].value">
              <ion-col>{{CartDetils.total_segments[0].title}} :</ion-col>
              <ion-col class="text-align">{{CartDetils.total_segments[0].value}}</ion-col>
            </ion-row>
            <ion-row class="dark" *ngIf="CartDetils.total_segments[1].code == 'rewards-spend' && CartDetils.total_segments[1].value">
              <ion-col>{{CartDetils.total_segments[1].title}} :</ion-col>
              <ion-col class="text-align">{{CartDetils.total_segments[1].value}}</ion-col>
            </ion-row>
            <ion-row class="dark">
              <ion-col>Discount <span *ngIf="CartDetils.coupon_code">({{CartDetils.coupon_code}})</span>:</ion-col>
              <ion-col class="text-align">{{CartDetils.quote_currency_code}} {{CartDetils.discount_amount | number}}</ion-col>
            </ion-row>
            <ion-row class="dark">
                <ion-col>Tax :</ion-col>
                <ion-col class="text-align">{{CartDetils.quote_currency_code}} {{CartDetils.tax_amount | number}}</ion-col>
              </ion-row>
            <ion-row class="dark">
              <ion-col>Total :</ion-col>
              <ion-col class="text-align">{{CartDetils.quote_currency_code}} {{CartDetils.subtotal_with_discount | number}}</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ng-container>

    <ng-template #elseTemplate>
        <ion-item lines="full" class="header">
            <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          </ion-item>
          <ion-card class="card-2">
            <ion-row>
              <ion-col size="4">
                  <ion-skeleton-text animated style="width: 100%;height: 100px;"></ion-skeleton-text>
              </ion-col>
              <ion-col size="8">
                <ion-row class="spc">
                  <ion-col size="12">
                    <ion-text>
                      <b>
                          <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                      </b>
                    </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row class="amount">
                    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                </ion-row>
                <ion-row class="spc">
                    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                </ion-row>
                <ion-buttons class="btn-qty">
                    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-card>
    
          <ion-card class="card-2">
            <ion-item lines="full" class="header">
                <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
            </ion-item>
    
            <form [formGroup]="coupon_form">
              <ion-item lines="none" class="input-container">
                <ion-skeleton-text animated style="width: 95%;"></ion-skeleton-text>
              </ion-item>
            </form>
          </ion-card>
    
          <ion-item lines="full" class="header card-2" mode="md">
            <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          </ion-item>
    
          <ion-item lines="full" class="header card-2">
              <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          </ion-item>
    
          <ion-card class="card-1">
            <ion-item lines="full" class="header">
                <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
            </ion-item>
            <ion-row>
              <ion-col size="12">
                <ion-row class="dark">
                    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                </ion-row>
                <ion-row class="dark">
                    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                </ion-row>
                <ion-row class="dark">
                    <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card>

    </ng-template>
  </div>

</ion-content>

<ion-footer *ngIf="!isEmpty" class="page-cart-footer">
  <ng-container *ngIf="isLoaded; else elseTemplate">
    <ion-row style="background: #f1f1f1;">
      <ion-col size="6" class="total-col">
        <span class="total-text">Amt. to be paid</span>
        <br/>
        <span class="total-amt">{{CartDetils.quote_currency_code}} {{CartDetils.grand_total | number}}</span>
      </ion-col>
      <ion-col size="6" class="btn-col">
        <ion-button expand="full" size="large" class="btn-proceed" (click)="goToBilling()">PROCEED</ion-button>
      </ion-col>
    </ion-row>
  </ng-container>
  <ng-template #elseTemplate>
      <ion-row>
          <ion-col size="6" class="total-col">
              <ion-skeleton-text animated style="width: 100%;height:40px;"></ion-skeleton-text>
          </ion-col>
          <ion-col size="6" class="btn-col">
              <ion-skeleton-text animated style="width: 100%;height:40px;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
  </ng-template>
</ion-footer>