ion-content{
    //--background: #f1f1f1;

    ion-card{
        background: #fff;
        margin: 0px;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px;

        collapsible-list{
            margin: 0px;

            collapsible-header{
                padding: 0px;

                ion-item{
                    --padding-start: 5px;
                    font-weight: bold;
                }
            }
            collapsible-body{
                padding: 0px 10px 0px 10px;
                background: #f1f1f1;
                box-shadow: 0px 0px 0px 0px !important;
            }
            .isread{
                --background: #fff;
            }
            .unread{
                --background: #f9efd9;
            }
        }
    }
}