<ion-header>
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-button routerLink="/signin">
        <ion-icon name="arrow-back" mode="ios" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light" text-center>Forgot Password</ion-title>
  </ion-toolbar>
  <!-- <div class="hr"></div> -->
</ion-header>

<ion-content class="grad" fullscreen>

  <!-- <ion-item class="head">
    <ion-toolbar color="transparent">
      <ion-buttons slot="start">
          <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light" text-center>Forgot Password</ion-title>
      </ion-toolbar>
  </ion-item> -->

  <img src="../assets/img/key.png" class="circle-pic" />

  <br>

  <ion-text color="light">YO ! Forgot your password?</ion-text>
  <form [formGroup]="forgot_form" autocomplete="off">
    <ion-item class="fp-input-email">
      <ion-label position="floating" color="light">
        <img src="../assets/icon/email-icon.png" class="fp-input-email-icon" />
        <!-- <ion-icon name="mail" mode="ios" color="primary" "></ion-icon> -->
        Email address
      </ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="forgot_form.controls.email.hasError('required') && forgot_form.controls.email.touched">
      <p>Email Address is required!</p>
    </ion-item>
    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="forgot_form.controls.email.hasError('pattern') && forgot_form.controls.email.touched">
      <p>Please Enter a Valid Email Address!</p>
    </ion-item>

    <ion-button shape="round" class="btn" size="large" expand="full" (click)="forgotPassword()">
      RESET MY PASSWORD
    </ion-button>
  </form>
</ion-content>